<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Line Graphs</title>
    <script src = "https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!--Links-->   


<body>
<!--Bootstrap Navbar-->
<ul class="nav">
        <li class="nav-item"> <!--Put image tag back in-->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="process.html">Process</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="analysis.html">Data Visualizations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="summary.html">Summary</a>

      </ul>

  <div id="title"><h1>Line Graphs</h1></div>
  <div id="description"> 
      <p>These line graphs plot Life Expectancy versus GDP per Capital in various regions over time.  hover over the markers to explore.</p>
    </div>
  
    <div id="line_graph"></div>

    <script>
        d3.json("/line_data").then(function(data) {
            var layout = {title: "Life Expectancy vs GDP"};
            var line_graph = document.getElementById('line_graph');
            Plotly.newPlot(line_graph,data,layout);
        })
    </script>

    <script src="plots.js"></script>
  
    <select id="selDataset" onchange="getData(this.value)">
      <option value="line_graph1">DataSet1</option>
      <option value="line_graph2">DataSet2</option>
      <option value="line_graph3">DataSet3</option>
    </select>

    <script src="{{url_for('static',filename = 'js/app.js')}}"></script>

</body>
