<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scatter Plot</title>
    <script src = "https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>

<!--Bootstrap Navbar-->
<ul class="nav">
        <li class="nav-item"> <!--Put image tag back in-->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="process.html">Process</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="analysis.html">Data Visualizations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="summary.html">Summary</a>
        </li>

      </ul>

      <div id="title"><h1>Scatter Plot</h1></div>
      <div id="description">
          <p>The scatter plot below plots life expectancy versus GDP Per Capita for the year 2018.</p>
        </div>

<!--Scatter Plot placeholder-->   
<div id="scatter_plot"></div>
</body>
</html>
