-- MySQL dump 10.13  Distrib 5.7.25, for Win64 (x86_64)
--
-- Host: localhost    Database: project_db
-- ------------------------------------------------------
-- Server version	5.7.25-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `gdp`
--

DROP TABLE IF EXISTS `gdp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gdp` (
  `country_name` text,
  `1996` double DEFAULT NULL,
  `1997` double DEFAULT NULL,
  `1998` double DEFAULT NULL,
  `1999` double DEFAULT NULL,
  `2000` double DEFAULT NULL,
  `2001` double DEFAULT NULL,
  `2002` double DEFAULT NULL,
  `2003` double DEFAULT NULL,
  `2004` double DEFAULT NULL,
  `2005` double DEFAULT NULL,
  `2006` double DEFAULT NULL,
  `2007` double DEFAULT NULL,
  `2008` double DEFAULT NULL,
  `2009` double DEFAULT NULL,
  `2010` double DEFAULT NULL,
  `2011` double DEFAULT NULL,
  `2012` double DEFAULT NULL,
  `2013` double DEFAULT NULL,
  `2014` double DEFAULT NULL,
  `2015` double DEFAULT NULL,
  `2016` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gdp`
--

LOCK TABLES `gdp` WRITE;
/*!40000 ALTER TABLE `gdp` DISABLE KEYS */;
/*!40000 ALTER TABLE `gdp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gdpplot`
--

DROP TABLE IF EXISTS `gdpplot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gdpplot` (
  `year` text,
  `European Union` double DEFAULT NULL,
  `East Asia & Pacific` double DEFAULT NULL,
  `Latin America & Caribbean` double DEFAULT NULL,
  `North America` double DEFAULT NULL,
  `Middle East & North Africa` double DEFAULT NULL,
  `Sub-Saharan Africa` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gdpplot`
--

LOCK TABLES `gdpplot` WRITE;
/*!40000 ALTER TABLE `gdpplot` DISABLE KEYS */;
/*!40000 ALTER TABLE `gdpplot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lat_long`
--

DROP TABLE IF EXISTS `lat_long`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lat_long` (
  `country_name` text,
  `latitude` float DEFAULT NULL,
  `longitude` float DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lat_long`
--

LOCK TABLES `lat_long` WRITE;
/*!40000 ALTER TABLE `lat_long` DISABLE KEYS */;
/*!40000 ALTER TABLE `lat_long` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `life_expectancy`
--

DROP TABLE IF EXISTS `life_expectancy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `life_expectancy` (
  `country_name` text,
  `1996` double DEFAULT NULL,
  `1997` double DEFAULT NULL,
  `1998` double DEFAULT NULL,
  `1999` double DEFAULT NULL,
  `2000` double DEFAULT NULL,
  `2001` double DEFAULT NULL,
  `2002` double DEFAULT NULL,
  `2003` double DEFAULT NULL,
  `2004` double DEFAULT NULL,
  `2005` double DEFAULT NULL,
  `2006` double DEFAULT NULL,
  `2007` double DEFAULT NULL,
  `2008` double DEFAULT NULL,
  `2009` double DEFAULT NULL,
  `2010` double DEFAULT NULL,
  `2011` double DEFAULT NULL,
  `2012` double DEFAULT NULL,
  `2013` double DEFAULT NULL,
  `2014` double DEFAULT NULL,
  `2015` double DEFAULT NULL,
  `2016` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `life_expectancy`
--

LOCK TABLES `life_expectancy` WRITE;
/*!40000 ALTER TABLE `life_expectancy` DISABLE KEYS */;
/*!40000 ALTER TABLE `life_expectancy` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lifeplot`
--

DROP TABLE IF EXISTS `lifeplot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lifeplot` (
  `year` text,
  `European Union` double DEFAULT NULL,
  `East Asia & Pacific` double DEFAULT NULL,
  `Latin America & Caribbean` double DEFAULT NULL,
  `North America` double DEFAULT NULL,
  `Middle East & North Africa` double DEFAULT NULL,
  `Sub-Saharan Africa` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lifeplot`
--

LOCK TABLES `lifeplot` WRITE;
/*!40000 ALTER TABLE `lifeplot` DISABLE KEYS */;
/*!40000 ALTER TABLE `lifeplot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lifescatter`
--

DROP TABLE IF EXISTS `lifescatter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lifescatter` (
  `year` text,
  `European Union` double DEFAULT NULL,
  `East Asia & Pacific` double DEFAULT NULL,
  `Latin America & Caribbean` double DEFAULT NULL,
  `North America` double DEFAULT NULL,
  `Middle East & North Africa` double DEFAULT NULL,
  `Sub-Saharan Africa` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lifescatter`
--

LOCK TABLES `lifescatter` WRITE;
/*!40000 ALTER TABLE `lifescatter` DISABLE KEYS */;
/*!40000 ALTER TABLE `lifescatter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `population`
--

DROP TABLE IF EXISTS `population`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `population` (
  `country_name` text,
  `1996` double DEFAULT NULL,
  `1997` double DEFAULT NULL,
  `1998` double DEFAULT NULL,
  `1999` double DEFAULT NULL,
  `2000` double DEFAULT NULL,
  `2001` double DEFAULT NULL,
  `2002` double DEFAULT NULL,
  `2003` double DEFAULT NULL,
  `2004` double DEFAULT NULL,
  `2005` double DEFAULT NULL,
  `2006` double DEFAULT NULL,
  `2007` double DEFAULT NULL,
  `2008` double DEFAULT NULL,
  `2009` double DEFAULT NULL,
  `2010` double DEFAULT NULL,
  `2011` double DEFAULT NULL,
  `2012` double DEFAULT NULL,
  `2013` double DEFAULT NULL,
  `2014` double DEFAULT NULL,
  `2015` double DEFAULT NULL,
  `2016` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `population`
--

LOCK TABLES `population` WRITE;
/*!40000 ALTER TABLE `population` DISABLE KEYS */;
/*!40000 ALTER TABLE `population` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worldplot`
--

DROP TABLE IF EXISTS `worldplot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `worldplot` (
  `country_name` text,
  `population` double DEFAULT NULL,
  `GDP` double DEFAULT NULL,
  `life_expectancy` double DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worldplot`
--

LOCK TABLES `worldplot` WRITE;
/*!40000 ALTER TABLE `worldplot` DISABLE KEYS */;
/*!40000 ALTER TABLE `worldplot` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-05-28 10:06:42
